db.url=jdbc:h2:./jvoiddb;AUTO_RECONNECT=TRUE;AUTO_SERVER=TRUE;PAGE_SIZE=512;CACHE_SIZE=131072;CACHE_TYPE=SOFT_LRU;QUERY_CACHE_SIZE=64;mode=MySQL
db.username=jvoid
db.password=jvoid
app.heuristic.excludeCglib=true
app.heuristic.excludeJacoco=true
app.heuristic.excludeGroovyCallSite=true
app.heuristic.excludeJacoco=true
app.includes=
app.excludes=
